.style {
    width: 250px;
}

.buttons {
    background-color: crimson;
    border: none;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin: 15px;
}

.color {
    color: purple;
    font-size: 40px;
}

.sticky {
    background-color: yellow;
    position: sticky;
    top: 0
}